# ===== uv (Python) =====
.venv/
.venv/**

# uv cache
.uv/
.uv/**

# Python bytecode
__pycache__/
*.py[cod]

# VS Code
.vscode/

# fine_tune
.data/fine_tune/
.data/fine_tune/**

# yolo
*.pt
*.pth

*.json
*.npz

logs
model_data/
environment.yml

data_proc_2d/results/video_analysis_yolo/databasa/
data_proc_2d/results/video_analysis_yolo/plots/
*.mp4
*.3dm
