# ===== uv (Python) =====
.venv/
.venv/**

# uv cache
.uv/
.uv/**

# Python bytecode
__pycache__/
*.py[cod]

# VS Code
.vscode/

# fine_tune
.data/fine_tune/
.data/fine_tune/**

# yolo
*.pt
*.pth

*.json
*.npz

logs
model_data/
environment.yml

data_proc_2d/results/video_analysis_yolo/
data_proc_2d/results/video_analysis_yolo/plots/
data_proc_2d/results/**/*.csv
data_proc_2d/results/**/*.png
design/gh_rhino/*.3dm
design/gh_rhino/*.3dmbak
design/gh_rhino/*.gh

robot_control/src/*.gh
robot_control/src/*.3dm
robot_control/src/*.3dmbak
robot_control/results
robot_control/dataset

*.mp4
