# ===== uv (Python) =====
.venv/
.venv/**

# uv cache
.uv/
.uv/**

# Python bytecode
__pycache__/
*.py[cod]

# VS Code
.vscode/
.vscode/**

# fine_tune
.data/fine_tune/
.data/fine_tune/**

# yolo
*.pt
*.pth

.claude/
.claude/**